*{margin: 0; padding: 0; box-sizing: border-box;}

html{ scroll-behavior: smooth; } 

body{
    margin: 50px 80px 0;
    font-family: "Playfair Display", sans-serif;
    color: #000;
}

#page-header{
    padding-bottom: 30px;
    display: flex;
    display: row;
    justify-content: space-between;
}

#header-logo{
    width: 30%;
}

#header-logo img{
    width: 110px;
    height: auto;
}

#header-nav{
    width: 55%;
}

#header-nav nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-nav nav ul li{
    font-size: 1.4em;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: inherit;
}

#fp-header img{
    width: 100%;
    height: auto;
}